# Working with Database Structures

## Creating and Using Databases

`mysql> CREATE DATABASE lucy;`

`mysql> USE lucy;`

`mysql> CREATE DATABASE IF NOT EXISTS lucy;`

## Creating Tables

`mysql> DROP DATABASE sakila;`

`mysql> CREATE DATABASE sakila;`

**check folder structure**

`mysql> USE sakila;`

`mysql> CREATE TABLE actor (`  
    `-> actor_id SMALLINT UNSIGNED NOT NULL DEFAULT 0,`  
    `-> first_name VARCHAR(45) DEFAULT NULL,`  
    `-> last_name VARCHAR(45),`  
    `-> last_update TIMESTAMP,`  
    `-> PRIMARY KEY (actor_id)`  
    `-> );`

**check folder structure**

`mysql> INSERT INTO actor(first_name) VALUES ('John');`

`mysql> INSERT INTO actor(first_name) VALUES ('Elisabeth');` -- Error duplicate id