## **Using the _sakila_ Database**

#Check existing databases  
**`mysql> SHOW DATABASES;`**

---
#Change context  
**`mysql> USE sakila;`**

---
#Check the current active  
**`mysql> SELECT DATABASE();`**

---
#Explore existing tables in the active database  
**`mysql> SHOW TABLES;`**

---
#Show table schema  
**`mysql> SHOW COLUMNS FROM actor;`**  
**`mysql> DESCRIBE actor;`**

---

## **Data Manipulation Language (DML)**

### **- SELECT Statement**
[SELECT Doc](https://dev.mysql.com/doc/refman/8.0/en/select.html)

In [ ]:
SELECT
    [ALL | DISTINCT | DISTINCTROW ]
    [HIGH_PRIORITY]
    [STRAIGHT_JOIN]
    [SQL_SMALL_RESULT] [SQL_BIG_RESULT] [SQL_BUFFER_RESULT]
    [SQL_NO_CACHE] [SQL_CALC_FOUND_ROWS]
    select_expr [, select_expr] ...
    [into_option]
    [FROM table_references
      [PARTITION partition_list]]
    [WHERE where_condition]
    [GROUP BY {col_name | expr | position}, ... [WITH ROLLUP]]
    [HAVING where_condition]
    [WINDOW window_name AS (window_spec)
        [, window_name AS (window_spec)] ...]
    [ORDER BY {col_name | expr | position}
      [ASC | DESC], ... [WITH ROLLUP]]
    [LIMIT {[offset,] row_count | row_count OFFSET offset}]
    [into_option]
    [FOR {UPDATE | SHARE}
        [OF tbl_name [, tbl_name] ...]
        [NOWAIT | SKIP LOCKED]
      | LOCK IN SHARE MODE]
    [into_option]

into_option: {
    INTO OUTFILE 'file_name'
        [CHARACTER SET charset_name]
        export_options
  | INTO DUMPFILE 'file_name'
  | INTO var_name [, var_name] ...
}

### **- WHERE Clause**

`mysql> SELECT * FROM sakila.language WHERE name = 'English';`

### **- ORDER BY Clause**

`mysql> SELECT name FROM customer_list`  
    `-> ORDER BY name`  
    `-> LIMIT 10;` 

`mysql> SELECT address, district FROM address`  
    `-> ORDER BY district, address;`

`mysql> SELECT id, name FROM customer_list`  
    `-> ORDER BY id LIMIT 10 OFFSET 5;`

## **Joining Two Tables**

`LEFT JOIN, RIGHT JOIN,, INNER JOIN`

`mysql> SELECT city, country FROM city INNER JOIN country`  
    `-> ON city.country_id = country.country_id`  
    `-> WHERE country.country_id < 5`  
    `-> ORDER BY country, city;`  

#Equals

`mysql> SELECT city, country FROM city INNER JOIN country`  
    `-> using (country_id)`**  
    `-> WHERE country.country_id < 5`  
    `-> ORDER BY country, city;`  

![Joins](https://i.postimg.cc/ncgQWWcD/join-types.png)

## **INSERT Statement**

`mysql> SHOW COLUMNS FROM language;`

`mysql> INSERT INTO language VALUES (NULL, 'Portuguese', NOW());`

`mysql> INSERT INTO language VALUES (8, 'Russian', '2020-09-26 10:35:00');`

In [ ]:
INSERT [LOW_PRIORITY | DELAYED | HIGH_PRIORITY] [IGNORE]
    [INTO] tbl_name
    [PARTITION (partition_name [, partition_name] ...)]
    [(col_name [, col_name] ...)]
    { {VALUES | VALUE} (value_list) [, (value_list)] ... }
    [AS row_alias[(col_alias [, col_alias] ...)]]
    [ON DUPLICATE KEY UPDATE assignment_list]

INSERT [LOW_PRIORITY | DELAYED | HIGH_PRIORITY] [IGNORE]
    [INTO] tbl_name
    [PARTITION (partition_name [, partition_name] ...)]
    SET assignment_list
    [AS row_alias[(col_alias [, col_alias] ...)]]
    [ON DUPLICATE KEY UPDATE assignment_list]

INSERT [LOW_PRIORITY | HIGH_PRIORITY] [IGNORE]
    [INTO] tbl_name
    [PARTITION (partition_name [, partition_name] ...)]
    [(col_name [, col_name] ...)]
    { SELECT ... 
        | TABLE table_name 
        | VALUES row_constructor_list
    }
    [ON DUPLICATE KEY UPDATE assignment_list]

value:
    {expr | DEFAULT}

value_list:
    value [, value] ...

row_constructor_list:
    ROW(value_list)[, ROW(value_list)][, ...]

assignment:
    col_name = 
            value 
        | [row_alias.]col_name
        | [tbl_name.]col_name
        | [row_alias.]col_alias

assignment_list:
    assignment [, assignment] ...

## **DELETE**

`mysql> DELETE FROM rental;`

`mysql> TRUNCATE TABLE payment;`

In [ ]:
DELETE [LOW_PRIORITY] [QUICK] [IGNORE] FROM tbl_name [[AS] tbl_alias]
    [PARTITION (partition_name [, partition_name] ...)]
    [WHERE where_condition]
    [ORDER BY ...]
    [LIMIT row_count]

## **UPDATE**

`mysql> UPDATE payment SET amount=amount*1.1;`

`mysql> UPDATE payment SET last_update='2021-02-28 17:53:00';`

In [ ]:
UPDATE [LOW_PRIORITY] [IGNORE] table_reference
    SET assignment_list
    [WHERE where_condition]
    [ORDER BY ...]
    [LIMIT row_count]

value:
    {expr | DEFAULT}

assignment:
    col_name = value

assignment_list:
    assignment [, assignment] ...