```bash
pip install mysql-connector-python
pip install sqlalchemy
pip install PyMySQL
pip install mysqlclient
pip install configparser
```

In [1]:
from mysql.connector import connect, Error
from getpass import getpass

In [7]:
def connect_mysql(host="localhost", user="root", password=None, database=None):
    """Connect to MySQL and return the connection object."""
    try:
        conn = connect(
            host=host,
            user=user,
            password=password,
            database=database,
            buffered=True
        )
        if conn.is_connected():
            print(f"✅ Connected to MySQL {f'[{database}]' if database else ''}")
        return conn
    except Error as e:
        print(f"MySQL Error: {e}")
        return None
# ---------------------------------------------------------------
def create_database(connection, db_name):
    """Create database if it does not exist."""
    try:
        cursor = connection.cursor()
        cursor.execute(f"CREATE DATABASE IF NOT EXISTS {db_name};")
        print(f"✅ Database `{db_name}` created (if it didn't exist).")
    except Error as e:
        print(f"MySQL Error: {e}")
# ---------------------------------------------------------------
def execute_query(connection, query, fetch=False):
    """Execute any query. If fetch=True, return results."""
    try:
        cursor = connection.cursor()
        cursor.execute(query)
        if fetch:
            return cursor.fetchall()
        connection.commit()
    except Error as e:
        print(f"MySQL Error: {e}")
        return None
# ---------------------------------------------------------------
def show_results(results):
    """Pretty print results from fetchall()."""
    if not results:
        print("No results.")
        return
    print(results)
    print("-" * 40)
    for row in results:
        print(row)

In [9]:
host = input("Enter host [default=localhost]: ").strip() or "localhost"
user = input("Enter username [default=root]: ").strip() or "root"
password = getpass("Enter password: ").strip()
if not password:
    raise ValueError("Password cannot be empty")

# 1. Connect without database
conn = connect_mysql(host, user, password)

✅ Connected to MySQL

In [11]:
# 2. Create testdb
create_database(conn, "testdb")

✅ Database `testdb` created (if it didn't exist).

In [12]:
# 3. Show all databases
dbs = execute_query(conn, "SHOW DATABASES;", fetch=True)
show_results(dbs)

[('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('sys',), ('testdb',)]
----------------------------------------
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('testdb',)

In [13]:
# 4. Connect to testdb
conn_testdb = connect_mysql(host, user, password, database="testdb")

✅ Connected to MySQL [testdb]

In [14]:
# 5. Create table t1
create_table_query = """
CREATE TABLE IF NOT EXISTS t1 (
    id INT PRIMARY KEY,
    first_name VARCHAR(20)
);
"""
execute_query(conn_testdb, create_table_query)
print("✅ Table `t1` created (if it didn't exist).")

✅ Table `t1` created (if it didn't exist).

In [15]:
# 6. Insert sample rows
insert_query = """
INSERT INTO t1 (id, first_name)
VALUES (1, 'ahmed'), (2, 'aya'), (3, 'john')
ON DUPLICATE KEY UPDATE first_name=VALUES(first_name);
"""
execute_query(conn_testdb, insert_query)
print("✅ Sample rows inserted into `t1`.")

✅ Sample rows inserted into `t1`.

In [18]:
# 7. Describe table
desc = execute_query(conn_testdb, "DESC t1;", fetch=True)
show_results(desc)

[('id', 'int', 'YES', '', None, ''), ('first_name', 'varchar(20)', 'YES', '', None, '')]
----------------------------------------
('id', 'int', 'YES', '', None, '')
('first_name', 'varchar(20)', 'YES', '', None, '')

In [19]:
# 8. Select rows
rows = execute_query(conn_testdb, "SELECT * FROM t1;", fetch=True)
show_results(rows)

[(1, 'ahmed'), (2, 'aya'), (3, 'john'), (1, 'ahmed'), (2, 'aya'), (3, 'john'), (1, 'ahmed'), (2, 'aya'), (3, 'john')]
----------------------------------------
(1, 'ahmed')
(2, 'aya')
(3, 'john')
(1, 'ahmed')
(2, 'aya')
(3, 'john')
(1, 'ahmed')
(2, 'aya')
(3, 'john')

In [ ]:
mycursor.close()        # to close session

True

<body>
    <div style = "
        width: 100%;
        height: 30px;
        background: linear-gradient(to right,rgb(235, 238, 212),rgb(235, 238, 212));">
    </div>
</body>

## **SQLAlchemy**

In [21]:
from sqlalchemy import create_engine, text

- `mysql+mysqldb://<username>:<password>@<host>:<port>/<database>`

In [31]:
connection_string = "mysql+mysqldb://root:Abdelrhman2004@localhost:3306"
engine = create_engine(connection_string, echo=True)

with engine.connect() as conn:
    results = conn.execute(text("SHOW DATABASES;"))
    print('-'*40)
    for result in results:
        print(result)
    print('-'*40)

2025-09-18 16:55:14,504 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-09-18 16:55:14,504 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-18 16:55:14,509 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-09-18 16:55:14,509 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-18 16:55:14,511 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-09-18 16:55:14,513 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-18 16:55:14,513 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-18 16:55:14,516 INFO sqlalchemy.engine.Engine SHOW DATABASES;
2025-09-18 16:55:14,518 INFO sqlalchemy.engine.Engine [generated in 0.00364s] ()
----------------------------------------
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('testdb',)
----------------------------------------
2025-09-18 16:55:14,523 INFO sqlalchemy.engine.Engine ROLLBACK

In [34]:
connection_string = "mysql+mysqldb://root:Abdelrhman2004@localhost:3306/testdb"
engine = create_engine(connection_string, echo=True)

with engine.connect() as conn:
    result = conn.execute(text("SHOW TABLES;"))
    print('-'*40)
    for row in result:
        print(row)
    print('-'*40)

2025-09-18 16:56:04,556 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-09-18 16:56:04,559 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-18 16:56:04,561 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-09-18 16:56:04,563 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-18 16:56:04,567 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-09-18 16:56:04,568 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-18 16:56:04,573 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-18 16:56:04,573 INFO sqlalchemy.engine.Engine SHOW TABLES;
2025-09-18 16:56:04,575 INFO sqlalchemy.engine.Engine [generated in 0.00357s] ()
----------------------------------------
('t1',)
----------------------------------------
2025-09-18 16:56:04,584 INFO sqlalchemy.engine.Engine ROLLBACK